<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
  <alias alias="perResolve" type="Microsoft.Practices.Unity.PerResolveLifetimeManager, Microsoft.Practices.Unity"/>

  <!--
  *****************************************************************************************************************
  Services
  *****************************************************************************************************************
  -->

  <!--
  *****************************************************************************************************************
  Acceso a Base de Datos
  *****************************************************************************************************************
  -->
  <alias alias="IConexionBase"                type="Olimpiadas.Infrastructure.Data.Core.Conexion.IConexionBase,                           Olimpiadas.Infrastructure.Data.Core"/>
  <alias alias="ConexionOlimpiadas"          type="Olimpiadas.Infrastructure.Data.Core.Conexion.ConexionOlimpiadas,                     Olimpiadas.Infrastructure.Data.Core"/>
  <alias alias="ConexionYTQP"                 type="Olimpiadas.Infrastructure.Data.Core.Conexion.ConexionYTQP,                            Olimpiadas.Infrastructure.Data.Core"/>

  <!--
  *****************************************************************************************************************
  Repositories.Contract
  *****************************************************************************************************************
  -->
  

  <!--GestionContenido-->
  <alias alias="ITipoRepository"                type="Olimpiadas.Domain.Modulos.GestionContenido.ITipoRepository,                         Olimpiadas.Domain.Modulos"/>
  <alias alias="IParticipanteRepository"        type="Olimpiadas.Domain.Modulos.GestionContenido.IParticipanteRepository,                 Olimpiadas.Domain.Modulos"/>
  <alias alias="IPersonalRepository"            type="Olimpiadas.Domain.Modulos.GestionContenido.IPersonalRepository,                     Olimpiadas.Domain.Modulos"/>

  <!--GestionSeguridad-->
  <alias alias="IUsuarioRepository"             type="Olimpiadas.Domain.Modulos.GestionSeguridad.IUsuarioRepository,                       Olimpiadas.Domain.Modulos"/>


  <!--
  *****************************************************************************************************************
  Repositories.Implementations
  *****************************************************************************************************************
  -->

  <!--GestionContenido-->
  <alias alias="ParticipanteRepository"         type="Olimpiadas.Infrastructure.Data.GestionContenido.Repositories.ParticipanteRepository,              Olimpiadas.Infrastructure.Data"/>
  <alias alias="TipoRepository"                 type="Olimpiadas.Infrastructure.Data.GestionContenido.Repositories.TipoRepository,                      Olimpiadas.Infrastructure.Data"/>
  <alias alias="PersonalRepository"             type="Olimpiadas.Infrastructure.Data.GestionContenido.Repositories.PersonalRepository,                  Olimpiadas.Infrastructure.Data"/>
	
  <!--GestionSeguridad-->
  <alias alias="UsuarioRepository"              type="Olimpiadas.Infrastructure.Data.GestionSeguridad.Repositories.UsuarioRepository,                   Olimpiadas.Infrastructure.Data"/>

	
  <!--
  *****************************************************************************************************************
  AppServices.Contract
  *****************************************************************************************************************
  -->

  <!--GestionContenido-->
  <alias alias="IParticipanteAppService"        type="Olimpiadas.Application.Interfaces.GestionContenido.IParticipanteAppService,           Olimpiadas.Application.Interfaces"/>
  <alias alias="IPersonalAppService"            type="Olimpiadas.Application.Interfaces.GestionContenido.IPersonalAppService,               Olimpiadas.Application.Interfaces"/>

  <!--GestionSeguridad-->
  <alias alias="IUsuarioAppService"             type="Olimpiadas.Application.Interfaces.GestionSeguridad.IUsuarioAppService,                Olimpiadas.Application.Interfaces"/>

  
  <!--
  *****************************************************************************************************************
  AppServices.Implementations
  *****************************************************************************************************************
  -->
  <!--GestionContenido-->
  <alias alias="ParticipanteAppService"         type="Olimpiadas.Application.Implementations.GestionContenido.ParticipanteAppService,       Olimpiadas.Application.Implementations"/>
  <alias alias="PersonalAppService"             type="Olimpiadas.Application.Implementations.GestionContenido.PersonalAppService,           Olimpiadas.Application.Implementations"/>
	
  <!--GestionSeguridad-->
  <alias alias="UsuarioAppService"              type="Olimpiadas.Application.Implementations.GestionSeguridad.UsuarioAppService,            Olimpiadas.Application.Implementations"/>


<!--*****************************************************************************************************************
  Cache
  *********************************************************************************************************************-->
  <alias alias="ICache"                       type="Olimpiadas.CrossCutting.Helper.Caching.ICache,         Olimpiadas.CrossCutting.Helper"/>
  <alias alias="ServicioCache"                type="Olimpiadas.CrossCutting.Helper.Caching.ServicioCache,  Olimpiadas.CrossCutting.Helper"/>

  <!--Mapping-->
  <alias alias="ITypeAdapterFactory"          type="Olimpiadas.CrossCutting.Helper.Mapping.Interface.ITypeAdapterFactory, Olimpiadas.CrossCutting.Helper"/>
  <alias alias="AutomapperTypeAdapterFactory" type="Olimpiadas.CrossCutting.Helper.Mapping.AutomapperTypeAdapterFactory,  Olimpiadas.CrossCutting.Helper"/>

  <container name="">

    <!--
    *****************************************************************************************************************
    Acceso a Base de Datos
    *****************************************************************************************************************
    -->
    <register type="IConexionBase" mapTo="ConexionOlimpiadas" name="Conexion_RutasCortas">
      <lifetime type="perResolve" />
      <constructor>
        <param name="keyCadenaConexion" value="CadenaConexion_YTQPRutasCortas"/>
      </constructor>
    </register>
	  

    <!--
    *****************************************************************************************************************
    Repositories
    *****************************************************************************************************************
    -->

    <!--GestionContenido-->    
    <register type="IParticipanteRepository" mapTo="ParticipanteRepository">
      <lifetime type="perResolve" />
      <constructor>
        <param name="conexionBaseDatos" type="IConexionBase"><dependency name="Conexion_RutasCortas"/></param>
      </constructor>
    </register>
    <register type="ITipoRepository" mapTo="TipoRepository">
      <lifetime type="perResolve" />
      <constructor>
        <param name="conexionBaseDatos" type="IConexionBase"><dependency name="Conexion_RutasCortas"/></param>
      </constructor>
    </register>
	  <register type="IPersonalRepository" mapTo="PersonalRepository">
		  <lifetime type="perResolve" />
		  <constructor>
			  <param name="conexionBaseDatos" type="IConexionBase">
				  <dependency name="Conexion_RutasCortas"/>
			  </param>
		  </constructor>
	  </register>
	  
	  
    <!--GestionSeguridad-->
    <register type="IUsuarioRepository" mapTo="UsuarioRepository">
      <lifetime type="perResolve" />
      <constructor>
        <param name="conexionBaseDatos" type="IConexionBase"><dependency name="Conexion_RutasCortas"/></param>
      </constructor>      
    </register>

	  

    <!--*****************************************************************************************************************
  Application Services
  *********************************************************************************************************************-->


    <!--GestionContenido-->    
    <register type="IParticipanteAppService" mapTo="ParticipanteAppService">
      <lifetime type="perResolve" />
    </register>
	<register type="IPersonalAppService" mapTo="PersonalAppService">
		<lifetime type="perResolve" />
	</register>
	  
    
    <!--GestionSeguridad-->
    <register type="IUsuarioAppService" mapTo="UsuarioAppService">
      <lifetime type="perResolve" />
    </register>

    
    <!--*****************************************************************************************************************
    Cache
    *********************************************************************************************************************-->
    <register type="ICache" mapTo="ServicioCache">
      <lifetime type="singleton" />
    </register>
    <!--*****************************************************************************************************************
    Mapping
    *********************************************************************************************************************-->
    <register type="ITypeAdapterFactory" mapTo="AutomapperTypeAdapterFactory">
      <lifetime type="singleton" />
    </register>
  </container>
</unity>