@using System.Globalization
<!DOCTYPE html>
<html lang="es">
<head>
    <title>PERUAPPS | TEST</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="MARIO LOZANO" />
    <meta name="author" content="MARIO LOZANO" />
    <link href="~/images/favicon/favicon.ico" rel="apple-touch-icon" type="image/x-icon" />
    <link href="~/images/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>